<script src="/vendor/moment/moment.min.js"></script>
<script src="/vendor/moment/moment-with-locales.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/vendor/datatables/js/dataTables.buttons.min.js"></script>
<script src="/vendor/datatables/js/buttons.html5.min.js"></script>
<script src="/vendor/datatables/js/jszip.min.js"></script>
<script src="/vendor/chartjs/js/Chart.min.js"></script>
