<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--/*<link rel="icon" href="/favicon.ico" type="image/x-icon">*/-->
<!--/*<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">*/-->
<script src="/vendor/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/vendor/datatables/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/vendor/chartjs/css/Chart.min.css">
<link rel="stylesheet" href="/css/material-icons.css">
<link rel="stylesheet" href="/css/fontawesome-all.min.css">
<script>
    var contextPath = "";
</script>
<link rel="stylesheet" href="/css/common.css?v=20200203">
<script src="/js/common.js?v=20200203"></script>
