<!DOCTYPE html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:include="/common/header"></th:block>
	<!--suppress ThymeleafVariablesResolveInspection -->
	<title th:text='${"기본 타이틀 - " + title}'></title>
</head>
<body id="page-top">
	<div id="wrapper">
		<th:block th:include="/common/left_menu"></th:block>
		<div id="loading" class="custom-loading">
			<div class="text-center">
				<img src="/img/loading.svg" alt="loading..." style="width:250px;margin-top:10%;"/>
				<br><span class="h2 text-white">Loading...</span>
			</div>
		</div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<th:block th:include="/common/top_menu"></th:block>
				<div class="container-fluid">
					<th:block layout:fragment="content"></th:block>
				</div>
			</div>
		</div>
	</div>
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="material-icons mt-2">&#xe5d8;</i>
	</a>
	<th:block th:include="/common/footer"></th:block>
</body>
</html>
